version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: saturday
      time: "05:00"
      timezone: America/Los_Angeles

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: saturday
      time: "05:00"
      timezone: America/Los_Angeles
    groups:
      new-versions:
        applies-to: version-updates
        update-types:
          - patch
          - minor
          - major
      security-patches:
        applies-to: security-updates
        update-types:
          - patch
          - minor
          - major
